<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ByPASS - Student transactions</title>
  <meta name="description" content="Payment network for local communities">
  <meta name="author" content="ByPASS">

  <link rel="stylesheet" href="/assets/css/base.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1>Transactions <span id="cip"></span></h1>
  <hr/>
  <section class="center">
  <span id="transactions_table"></span>
    
  </section>
  <section>
    <div class="black_box">
      solde : 0.00$
    </div>
  </section>

  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.redirect.js"></script>
  <script type="text/javascript" src="/assets/js/cookies.js"></script>
  <script type="text/javascript" src="/assets/js/student_transactions.js"></script>
</body>
</html>