<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ByPASS - Produits</title>
  <meta name="description" content="Payment network for local communities">
  <meta name="author" content="ByPASS">

  <link rel="stylesheet" href="/assets/css/base.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1>Produits <span id="cip"></span></h1>
  <a href='sales'>Sales</a> - <a href='../login'>Login</a>
  <hr/>
  <section class="center">
    <span id="products_table"></span>
  </section>
  
  <section>
    <div class="add_box">
      <button id="add_button" class="button_flat b_small">Ajouter</button>
    </div>
  </section>

  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.redirect.js"></script>
  <script type="text/javascript" src="/assets/js/cookies.js"></script>
  <script type="text/javascript" src="/assets/js/merchant_products.js"></script>
</body>
</html>