<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ByPASS - Ventes</title>
  <meta name="description" content="Payment network for local communities">
  <meta name="author" content="ByPASS">

  <link rel="stylesheet" href="/assets/css/base.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1>Ventes - <%= merchant_id %></h1>
  <hr/>
  <section class="center">
    <table class="base_table">
      <tr>
        <th>Article</th>
        <th>Unités vendues</th>
        <th>Somme</th>
        <th>Date</th>
      </tr>

      <% for(var i = 0 ; i< 5; i++) { %>
        <tr>
          <td>Fin du monde</td>
          <td>300</td>
          <td>750$</td>
          <td>5 octobre 2017</td>
        </tr>
      <% } %>  
    </table>
    
  </section>
  <section>
    <div class="black_box">
      Total : 3750$
    </div>
  </section>
</body>
</html>