 <table class="base_table">
  <tr>
    <th>Article</th>
    <th>Montant</th>
    <th>Destinataire</th>
    <th>Date</th>
  </tr>

  <% for(var i = 0 ; i< 5; i++) { %>
    <tr>
      <td>Dépôt</td>
      <td>50$</td>
      <td>5@8 Génie</td>
      <td>4 octobre 2014</td>
    </tr>
  <% } %>
</table>